.statistics {
  width: 300px;
  box-shadow: 0px 0px 10px rgb(154, 151, 151);
}

.title {
  margin: 0 auto;
  padding: 5px auto;
  font-size: 25px;
  text-align: center;
  color: #7d7b7b;
  line-height: 1.7;
}

.statList {
  /* height: calc(300px / 4); */
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100%/5);
}

.label {
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  line-height: 1.15;
}

.percentage {
  font-size: 25px;
  align-items: center;
  color: #000000;
  line-height: 1.15;
}
/* function generateColor() {
    return '#' + Math.floor(Math.random()*16777215).toString(16)
  } */
